doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    title= app.name

      //-
        link(rel='icon', type='image/png', href='/assets/images/favicon.png')

        link(rel='stylesheet', href='/assets/styles/kickass.css')
        link(rel='stylesheet', href='/assets/styles/main.css')

        script(src='/assets/scripts/kickass.js')
      
  body

    p= body

  footer
    p= app.name + ' by ' + app.author